<html>
    <head>
        <link href="/assets/style2.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
       <h1>Login Form</h1>

       <form method="POST" action="/home">
           <input type="text" name="name" placeholder="name"/><br><br>
           <input type="password" name="password" placeholder="password"/><br><br>
           <input type="submit" />
       </form>
    </body>
</html>