<html>
    <head>
        <link href="/assets/style2.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <h1>Page : <%= ID %></h1>
        <h2>Query string value : <%= Qstr %></h2>
    </body>
</html>